* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body{
  background: #eee;
  padding: 0 16px;
  position: relative;
}

.head-title{
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.head-bar{
  /* height: 6rem; */
  padding: 16px 32px;
  background-color: #f5ba13;
  margin: auto -16px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
}


.input-area {
  width: 540px;
  height: 150px;;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin: 16px 25%;
  float: left;
}

.i1 {
  font-size: 1.8em;
  /* margin-top: 6px; */
  width: 100%;
  padding: 10px 10px;
  border: none;
  outline: none;
}

.i2 {
  font-size: 1.1em;
  padding: 2px 4px;
  /* margin-bottom: 10px; */
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
  padding: 10px 10px;
  border: none;
  outline: none;
}

.input-area button{
  float: right;
  width: 60px;
  height: 60px;
  background-color: #21bf73;
  font-size: 2.1em;
  border-radius: 50%;
  border: none;
  outline: none;
}

.note{
  width: 240px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin: 16px;
  float: left;
}

.note h1{
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p{
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button{
  float: right;
  width: 40px;
  height: 40px;
  background-color: #fd5e53;
  font-size: 2.1em;
  border-radius: 50%;
  border: none;
  padding-bottom: 2px;
  outline: none;
}

.footer{
  width: 100%;
  height: 2.5rem;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.footer p{
  color: #a3a8a5;
}

